In [4]:
# Standarisasi data
import os
import pandas as pd
df = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\RegresiProject\data\processed\selected_features.csv")
df.head(5)

,Tanggal_Gabungan,Tidak/belum tamat SD,SLTP,SLTA Kejuruan/SMK,Total_Pengangguran
0,2006-02-01,614960,2860007,1204140,5210757
1,2006-08-01,611254,2730045,1305190,5095229
2,2007-02-01,520316,2643062,1114675,4754119
3,2007-08-01,438519,2264198,1538349,4732558
4,2008-02-01,448431,2166619,1165582,4380263