In [1]:
# Standarisasi data
import os
import pandas as pd
df = pd.read_csv(r"C:\Users\ASUS\OneDrive\Documents\RegresiProject\data\processed\selected_features.csv")
df.head(5)

,Tanggal_Gabungan,Tidak/belum tamat SD,SLTP,SLTA Kejuruan/SMK,Total_Pengangguran
0,2006-02-01,614960,2860007,1204140,5210757
1,2006-08-01,611254,2730045,1305190,5095229
2,2007-02-01,520316,2643062,1114675,4754119
3,2007-08-01,438519,2264198,1538349,4732558
4,2008-02-01,448431,2166619,1165582,4380263

-> Agregasi

In [16]:
# pilih semua kolom angka kecuali bulan
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
print(numerical_cols)
X = df[numerical_cols]

['Tidak/belum tamat SD', 'SLTP', 'SLTA Kejuruan/SMK', 'Total_Pengangguran']

In [17]:
# hitung rata-rata untuk setiap kolom numerik
mean = df[numerical_cols].mean()
print(mean)

Tidak/belum tamat SD    4.961547e+05
SLTP                    1.697168e+06
SLTA Kejuruan/SMK       1.422718e+06
Total_Pengangguran      3.989621e+06
dtype: float64

In [18]:
from sklearn.preprocessing import StandardScaler, StandardScaler

scaler = StandardScaler()
minmax = scaler.fit_transform(X)
print('hasil minmax :\n', minmax)

hasil minmax :
 [[ 1.13937751  2.70143176 -0.65970047  2.43478815]
 [ 1.10383589  2.39951263 -0.35471619  2.20444016]
 [ 0.23171381  2.19743948 -0.92971946  1.52431064]
 [-0.55274339  1.31728768  0.34899317  1.48132077]
 [-0.45768441  1.09059859 -0.77607439  0.7788898 ]
 [-0.50179017  0.64308634 -0.04101548  0.6045696 ]
 [-0.76913877  0.83055395 -0.25694013  0.72845681]
 [ 0.49174502  0.17111149 -0.04675601  0.5332189 ]
 [ 0.489194   -0.09226452 -0.25906793  0.2973419 ]
 [ 0.99802618 -0.08297896 -0.6867069   0.13568079]
 [ 0.60904389  0.31934834 -0.9453052   0.15382303]
 [ 2.31562696  1.02612001 -0.78881099  1.05758718]
 [ 1.01271851  0.0917695  -1.22009589 -0.49323614]
 [ 0.15235414  0.0409068  -1.07358271 -0.8182711 ]
 [ 0.26129028  0.288676   -1.684336   -0.93799311]
 [-0.06715808 -0.01748052 -0.49653615 -0.57042688]
 [ 1.09731449 -0.00921016 -1.73650174 -1.01524168]
 [-1.02237046 -0.30277298 -0.27222707 -0.86194486]
 [ 1.02653812 -0.10867746 -0.74956294 -0.3649963 ]
 [-1.19507246 -0.75094965  0.44358508 -0.73249873]
 [ 0.58753287 -0.89057929 -0.22452216 -0.85019896]
 [-1.07493485 -0.93549011  0.29527006 -1.01974185]
 [ 0.48663339 -0.96625537 -0.11980736 -0.87017755]
 [-0.87961894 -0.98210612  0.59965977 -0.76454224]
 [-0.42033022 -1.00300503  0.06827785 -0.95317046]
 [-1.60516298 -1.28933825  0.99455179 -1.01819061]
 [-0.5050221  -1.07321478 -0.07677153 -1.20199965]
 [-1.42360914 -1.3008912   0.95647478 -1.00763107]
 [-1.43256647 -1.0356892   0.06279085 -1.28529962]
 [-0.64582678 -0.17574402  2.72805167  1.44346114]
 [-1.47134962 -0.42299283  2.01135521  0.46309045]
 [-0.6216976  -0.21539991  2.0783612   0.79241024]
 [-0.5594566  -0.55045855  1.37007029  0.09030427]
 [ 1.60129398 -0.45617183  0.72065749  0.02093349]
 [ 1.60129398 -0.45617183  0.72065749  0.02093349]]

In [19]:
scaler_std = StandardScaler()
X_std = scaler_std.fit_transform(X)
print('hasil standarisasi :\n', X_std)

hasil standarisasi :
 [[ 1.13937751  2.70143176 -0.65970047  2.43478815]
 [ 1.10383589  2.39951263 -0.35471619  2.20444016]
 [ 0.23171381  2.19743948 -0.92971946  1.52431064]
 [-0.55274339  1.31728768  0.34899317  1.48132077]
 [-0.45768441  1.09059859 -0.77607439  0.7788898 ]
 [-0.50179017  0.64308634 -0.04101548  0.6045696 ]
 [-0.76913877  0.83055395 -0.25694013  0.72845681]
 [ 0.49174502  0.17111149 -0.04675601  0.5332189 ]
 [ 0.489194   -0.09226452 -0.25906793  0.2973419 ]
 [ 0.99802618 -0.08297896 -0.6867069   0.13568079]
 [ 0.60904389  0.31934834 -0.9453052   0.15382303]
 [ 2.31562696  1.02612001 -0.78881099  1.05758718]
 [ 1.01271851  0.0917695  -1.22009589 -0.49323614]
 [ 0.15235414  0.0409068  -1.07358271 -0.8182711 ]
 [ 0.26129028  0.288676   -1.684336   -0.93799311]
 [-0.06715808 -0.01748052 -0.49653615 -0.57042688]
 [ 1.09731449 -0.00921016 -1.73650174 -1.01524168]
 [-1.02237046 -0.30277298 -0.27222707 -0.86194486]
 [ 1.02653812 -0.10867746 -0.74956294 -0.3649963 ]
 [-1.19507246 -0.75094965  0.44358508 -0.73249873]
 [ 0.58753287 -0.89057929 -0.22452216 -0.85019896]
 [-1.07493485 -0.93549011  0.29527006 -1.01974185]
 [ 0.48663339 -0.96625537 -0.11980736 -0.87017755]
 [-0.87961894 -0.98210612  0.59965977 -0.76454224]
 [-0.42033022 -1.00300503  0.06827785 -0.95317046]
 [-1.60516298 -1.28933825  0.99455179 -1.01819061]
 [-0.5050221  -1.07321478 -0.07677153 -1.20199965]
 [-1.42360914 -1.3008912   0.95647478 -1.00763107]
 [-1.43256647 -1.0356892   0.06279085 -1.28529962]
 [-0.64582678 -0.17574402  2.72805167  1.44346114]
 [-1.47134962 -0.42299283  2.01135521  0.46309045]
 [-0.6216976  -0.21539991  2.0783612   0.79241024]
 [-0.5594566  -0.55045855  1.37007029  0.09030427]
 [ 1.60129398 -0.45617183  0.72065749  0.02093349]
 [ 1.60129398 -0.45617183  0.72065749  0.02093349]]

In [24]:
df.head(2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Tanggal_Gabungan      35 non-null     object
 1   Tidak/belum tamat SD  35 non-null     int64
 2   SLTP                  35 non-null     int64
 3   SLTA Kejuruan/SMK     35 non-null     int64
 4   Total_Pengangguran    35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

In [23]:
# pisah data latih dan data uji
from sklearn.model_selection import train_test_split
X = df.drop(columns=['Total_Pengangguran'])
y = df['Total_Pengangguran']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)

X_train shape: (28, 4)
X_test shape: (7, 4)